<% include('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            color: #333;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        h1 {
            background-color: #007BFF;
            color: #fff;
            padding: 10px;
            text-align: center;
            border-radius: 8px 8px 0 0;
            margin: -20px -20px 20px -20px;
        }
        form {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        input[type="text"], 
        input[type="email"], 
        input[type="password"], 
        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 15px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        a {
            text-decoration: none;
            color: #007BFF;
            display: block;
            text-align: center;
            margin-top: 20px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Edit User</h1>

    <form action="/admin/edit-user/<%= user._id %>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= user.name %>" placeholder="Enter your name" required><br>
        <input type="email" name="email" value="<%= user.email %>" placeholder="Enter your email" required><br>
        <input type="text" name="mno" value="<%= user.mobile %>" placeholder="Enter your Mobile" required><br>
        <input type="file" name="image"><br>
        <input type="password" name="password" placeholder="Enter new password"><br>
        <input type="submit" value="Update user">
    </form>

    <a href="/admin/dashboard">Go to Dashboard</a>
</div>

<% include('../layouts/footer.ejs') %>

</body>
</html>

